<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.repository.PaperMapper">


<!-- 論文一覧取得 -->
<select id="findMany" resultType="com.example.demo.domain.paper.model.MPaper">
	select 
		paper_id,
		user_serial,
		title,
		paper_url,
		read_date,
		learning_note
	from 
		papers
	where
		user_serial = #{userSerial}
</select>


<!-- 論文一件検索 -->
<select id="findOne" resultType="com.example.demo.domain.paper.model.MPaper">
	select
		paper_id,
		user_serial,
		title,
		paper_url,
		read_date,
		learning_note
	from
		papers
	where
		paper_id = #{paperId}
</select>

<!-- 先行研究論文を取得 -->
<select id="findPreCitations" resultType="com.example.demo.domain.paper.model.MCitation">
select
	p1.paper_id AS citing_paper_id,
	p1.title AS citing_paper_title,
	p2.paper_id AS cited_paper_id,
	p2.title AS cited_paper_title
from papers p1
	inner join paper_citations pc
		on p1.paper_id = pc.citing_paper_id
	inner join papers p2
		on pc.cited_paper_id = p2.paper_id
where pc.citing_paper_id = #{paperId}
</select>

<!-- 後続研究論文を取得 -->
<select id="findSubCitations" resultType="com.example.demo.domain.paper.model.MCitation">
select
	p1.paper_id AS cited_paper_id,
	p1.title AS cited_paper_title,
	p2.paper_id AS citing_paper_id,
	p2.title AS citing_paper_title
from papers p1
	inner join paper_citations pc
		on p1.paper_id = pc.cited_paper_id
	inner join papers p2
		on pc.citing_paper_id = p2.paper_id
where pc.cited_paper_id = #{paperId}
</select>

<!-- 読んだ論文を一件登録 -->
<insert id="insertOne"
          parameterType="com.example.demo.form.PaperDetailForm"
          useGeneratedKeys="true"
          keyProperty="paperId"
          keyColumn="paper_id">
insert into papers(
	user_serial,
	title,
	paper_url,
	read_date,
	learning_note
	) values (
	#{userSerial},
	#{title},
	#{paperUrl},
	#{readDate},
	#{learningNote}
	)
</insert>

<!-- 引用情報を登録 -->
<insert id="insertCitation">
insert into paper_citations(
	citing_paper_id,
	cited_paper_id
) values (
	#{citingPaperId},
	#{citedPaperId}
)
</insert>

<!-- 記録の削除 -->
<delete id="deleteOne">
delete from
		papers
where
	paper_id = #{paperId}
</delete>


</mapper>

