<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.UserMapper">
	<!-- ユーザ1件登録 -->
	<insert id="insertOne">
		insert into users (
			user_id,
			password,
			user_name,
			birthday,
			gender
			)
			values (
			#{userId},
			#{password},
			#{userName},
			#{birthday},
			#{gender}
			)
	</insert>
	
	
	<!-- ログインユーザ情報取得 -->
	<select id="findLoginUser" resultType="com.example.demo.domain.user.model.MUser">
		select 
			*
		from
			users
		where
			user_id = #{userId}
	</select>

	
	
	<!-- ユーザ情報更新（パスワード更新なし）-->
	<update id="updateOne">
		update
			users
		set
			user_id = #{newUserId},
			user_name = #{userName},
			birthday = #{birthday},
			gender = #{gender}
		where
			user_id = #{oldUserId}
	</update>
	
	
	<!-- パスワード変更 -->
	<update id="updatePass">
		update
			users
		set
			password = #{password}
		where
			user_id = #{userId}
	</update>
</mapper>