<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<title>論文登録</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<!-- Choice.js -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<p class="h2" th:text="#{update}"></p>
		</div>
		
		<form id="register-form" method="post" th:action="@{/home/detail/update}" class="form-signup" th:object="${paperDetailForm}">
			<input type="hidden" th:field="*{paperId}">
			<div class="mx-5">
				<!-- タイトル -->
				<div class="mb-3">
					<label for="title" th:text="#{paper.form.title}"></label>
					<input type="text" id="title" class="form-control" th:field="*{title}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{title}"></div>
				</div>
				<!-- 記録日 -->
				<div class="mb-3">
					<label for="readDate" th:text="#{paper.form.read}"></label>
					<input type="date" id="readDate" class="form-control" th:field="*{readDate}">
				</div>
				<!-- 論文URL -->
				<div class="mb-3">
					<label for="paperUrl" th:text="#{paper.form.url}"></label>
					<input type="text" id="paperUrl" class="form-control" th:field="*{paperUrl}">
				</div>
				<!-- 得た知見 -->
				<div class="mb-3">
					<label for="learning_note" th:text="#{paper.form.learning}"></label>
					<textarea id="learning_note" class="form-control" style="height: 150px;" th:field="*{learningNote}"></textarea>
				</div>
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="border-bottom">
								<p class="h4" th:text="#{paper.form.pre}"></p>
							</div>
							<div class="mt-3">
								<select id="prePaper" multiple th:field="*{preCitationList}">
									<option th:each="item:${paperList}" th:value="${item.paperId}" th:text="${item.title}"></option>
								</select>
							</div>
						</div>
						<div class="col">
							<div class="border-bottom">
								<p class="h4" th:text="#{paper.form.sub}"></p>
							</div>
							<div class="mt-3">
								<select id="subPaper" multiple th:field="*{subCitationList}">
									<option th:each="item:${paperList}" th:value="${item.paperId}" th:text="${item.title}">multiSelect</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" class="btn btn-secondary mt-5 mr-3" style="--bs-btn-padding-x: 2rem;" th:value="#{form.back}" form="back">
					<input type="submit" class="btn btn-primary mt-5" style="--bs-btn-padding-x: 2rem;" th:value="#{form.update}">
				</div>
			</div>
		</form>
		<form id="back" method="get" th:action="@{/home/detail/{id}(id=${paperDetailForm.paperId})}"></form>
		
		<!-- Choice.js (先行論文用) -->
		<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
		<script>
	        document.addEventListener('DOMContentLoaded', function () {
	            const element = document.getElementById('prePaper');

	            new Choices(element, {
					removeItemButton: true,
	                searchEnabled: true,
	                itemSelectText: '',
	                shouldSort: false
	            });
	        });
	    </script>
		
		<!-- Choice.js (後続論文用) -->
				<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
				<script>
			        document.addEventListener('DOMContentLoaded', function () {
			            const element = document.getElementById('subPaper');

			            new Choices(element, {
							removeItemButton: true,
			                searchEnabled: true,
			                itemSelectText: '',
			                shouldSort: false
			            });
			        });
			    </script>
	</div>
</body>
</html>