<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
<!-- JS読み込み -->
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}" defer></script>
<title></title>
</head>
<body>
<!-- ヘッダー -->
<nav th:replace="~{layoutLogin/header :: header}"></nav>


<!-- コンテンツ -->
<div class="container-fluid">
		<div class="main">
			<div layout:fragment="content"></div>
		</div>
</div>

</body>
</html>