<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<title>マイページ</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2" th:text="#{mypage.updatepass.title}"></h1>
		</div>
		<div class="mx-1 px-4">
			<p th:text="#{mypage.updatepass.subtitle}"></p>
			<form method="post" th:action="@{/home/user-info/update-pass}" th:object="${passwordForm}">
				<table class="table table-striped table-bordered">
					<input type="hidden" th:field="*{userId}">
					<tbody>
						<tr>
							<th class="w-25" th:text="#{password}"></th>
							<td>
								<input type="password" th:errorclass="is-invalid" th:field="*{password}">
								<div class="invalid-feedback" th:errors="*{password}"></div>
							</td>
						</tr>
						<tr>
							<th class="w-25" th:text="#{confirm.password}"></th>
							<td>
								<input type="password" th:errorclass="is-invalid" th:field="*{confirmPassword}">
								<div class="text-danger mt-1 small" th:errors="*{passwordMatched}"></div>
							</td>
						</tr>
					</tbody>
				</table>
				<!--登録ボタン-->
					<div class="text-center">
						<button name="update" type="submit" class="btn btn-primary w-20 mt-3" th:text="#{mypage.update.check}"></button>
					</div>
			</form>
		</div>
		
	</div>
</body>
</html>