<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<title>ホーム画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<p th:text="${loginUser.userName + 'さんの読んだ論文'}" class="h2"></p>
		</div>
		<!-- 一覧表示 -->
		<div class="mx-5">
			<table class="table table-striped table-bordered table-hover">
					<tr>
						<th class="th-width">論文タイトル</th>
						<th class="th-width" style="width: 30%">記録日</th>
					</tr>
					<tbody>
					    <tr th:each="item : ${paperList}"
					        th:onclick="|window.location.href='@{/home/detail/{id}(id=${item.paperId})}'|">
					        <td th:text="${item.title}"></td>
					        <td th:text="${#dates.format(item.readDate, 'yyyy-MM-dd')}"></td>
					    </tr>
					</tbody>
				
			</table>
		</div>
	</div>
</body>
</html>