<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<title>ホーム画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<p th:text="#{home.title(${loginUser.userName})}" class="h2"></p>
		</div>
		<!-- 一覧表示 -->
		<div class="mx-1">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="th-width" th:text="#{paper.form.title}"></th>
						<th class="th-width" style="width: 30%" th:text="#{paper.form.read}"></th>
					</tr>
				</thead>
					
				<tbody>
				    <tr th:each="item : ${paperList}"
				        th:onclick="|window.location.href='@{/home/detail/{id}(id=${item.paperId})}'|">
				        <td th:text="${item.title}"></td>
				        <td th:text="${item.readDate}"></td>
				    </tr>
				</tbody>
				
			</table>
		</div>
	</div>
</body>
</html>